$dark-gray: rgba(42, 42, 42, 1);
$stroke-gray: rgba(234, 234, 234, 1);
$basic: rgba(231, 229, 234, 1);
$light-gray: rgba(99, 99, 99, 1);
$white: rgba(255, 255, 255, 1);
$accent: rgba(255, 221, 169, 1);
$green: rgba(44, 210, 40, 1);
$accent-hover: rgba(255, 208, 136, 1);

// text colors
$color: rgba(57, 20, 132, 1);
$text-accent: rgba(40, 47, 66, 1);
$text-color-basic2: rgba(89, 77, 109, 1);
$text-color-basic1: rgba(18, 2, 47, 1);
$text-color-basic3: rgba(106, 78, 163, 1);