$lh-normal: 1.3;
$fs__heading--small: 22px;
$fs__heading--normal: 34px;
$fs__heading--normal--mobile: 24px;


$fs__heading--medium: 38px;
$fs__heading--medium--mobile: 24px;

$fs__heading--large: 40px;
$fs__heading--huge: 46px;
$fs__heading--biggest: 48px;
$fs__heading--H1-mobile: 28px;

$fs__subheading--normal: 22px;
$fs__subheading--normal-mobile: 18px;
$fs__subheading--fixed: 22px;
$fs__subheading--fixed-mobile: 22px;

$fs__text--16fixed: 16px;
$fs__text--18fixed: 18px;
$fs__text--normal: 14px;
$fs__text--small: 12px;
$fs__text--14to12: 14px;
$fs__text--14to12-mob: 12px;
$fs__text--14to16: 14px;
$fs__text--14to16-mob: 16px;
$fs__text--18to10: 18px;
$fs__text--18to10-mob: 10px;
$fs__text--12to8: 12px;
$fs__text--12to8-mob: 8px;
$fs__text--18to12: 18px;
$fs__text--18to12-mob: 12px;

$heading-ls: -2px;