@use '../variables' as *;
@use '../helpers' as *;

.admin__CM__editableItem__content,
.article,
.admin__content__item__field {
    b {
        font-weight: bold;
    }

    i {
        font-style: italic;
    }

    ol,
    ul {
        list-style-position: inside;

        li::marker {
            color: $color;
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    .article-cols {
        gap: 30px;
        flex-wrap: wrap;

        @include setTabletStyles {
            flex-direction: column;
        }
    }

    .col {
        flex: 1 1 0;
    }

    .imgWrap {
        border-radius: 32px;
        position: relative;
        user-select: none;
        height: 100%;

        align-items: center;
        justify-content: center;


        &[data-style="inline"] {
            display: inline-flex;
            vertical-align: middle;
        }

        &[data-style="block"] {
            display: flex;
        }

        &[data-style="left"] {
            display: inline-flex;
            float: left;
            margin-right: 30px !important;
            max-width: 50% !important;
            width: 50%;
            aspect-ratio: 1;
        }

        &[data-style="right"] {
            display: inline-flex;
            float: right;
            margin-left: 30px !important;
            max-width: 50% !important;
            width: 50%;
            aspect-ratio: 1;
        }

        &:not([data-style="inline"]) {
            @include setTabletStyles {
                float: none;
                width: calc(100% + 2 * var(--horizontalPadding)) !important;
                margin: 20px 0 20px calc(var(--horizontalPadding)*-1) !important;
                // margin-left: calc(var(--horizontalPadding)*-1);
                max-width: unset !important;
                border-radius: 0;
            }
        }
    }

    img {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .clearfix:after {
        content: '';
        display: table;
        clear: both;
        visibility: hidden;
    }

    .imageFloat {
        @include setTabletStyles {
            display: flex;
            flex-direction: column;
        }
    }

}

.admin__CM__editableItem__content[data-id="body"],
.article {
    section {
        padding-bottom: 50px;
    }

    h1,
    h2,
    h3 {
        padding-bottom: 50px;
        @include setTabletStyles {
            text-align: left !important;
            padding-bottom: 20px;
        }
    }
}

.article {
    section:first-of-type {
        padding-top: 150px;

        @include setTabletStyles {
            padding-top: 80px;
        }
    }
}

$fontSizes: 12, 14, 16, 18, 20, 22, 24, 28, 34;

@each $size in $fontSizes {
    .fz-#{$size} {
        font-size: #{$size}px;

        @include setTabletStyles {
            @if $size ==34 {
                font-size: 24px;
            }

            @else {
                font-size: 14px;
            }
        }
    }
}