@use '../variables' as *;
@use '../helpers' as *;


#login,
#register {
    flex: 1;
    background-color: $text-accent;
    color: white;

    .container__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        max-width: 400px;
        margin-top: 100px;
        width: 100%;
        gap: 20px;
        position: relative;

        .checkout__inputWrap__input {
            padding-left: 25px;
        }
    }
}

.err_msg {
    position: absolute;
    color: rgb(231, 71, 71);
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 100%);
    display: none;
}