<% for (let i=0; i < items.length; i++) { %>
    <article class="article-preview hiddenTextContainer">
        <div class="article__ImgWrap">
            <img src="<%- items[i].previewImg %>" alt="<%- items[i].title %>" class="article__img">
        </div>
        <header>
            <h4 class="article__heading bold"><%- items[i].title %></h4>
        </header>
        <main class="article__main hidden__content" data-enabled="1">
            <p><%= items[i].description %></p>
        </main>
        <footer class="article__footer d-flex j-between a-center">
            <a href="#" class="article__footer__moreLink moreLink">
                <span class="downText">Подробнее</span>
                <span class="upText">Свернуть</span>
                <img src="../img/icons/down.png" alt="" class="more__icon">
            </a>
            <span class="article__footer__date"><%- items[i].date %></span>
        </footer>
        <a href="/article-<%- items[i].UUID %>" class="article__link"></a>
    </article>
<% }; %>