<div class="container__content" id="benefits">
    <div class="benefits__content">
        <h2 class="benefits__heading"><span class="color-desk">Почему</span> вам стоит
            <br><span class="bold-color">выбрать нас?</span>
        </h2>
        <div class="benefits__text">
            <h6 class="benefits__text__heading"><span class="bold-color">Milberger</span> – это
                командная
                работа на результат.
            </h6>
            <p class="benefits__text__description">Здравствуйте, меня зовут Денис Милбергер, я
                руководитель студии авторских ремнотов. Хочу вам рассказать про наш подход к
                работе.</p>
            <p class="benefits__text__description">Мы работает с 2010 года и за это время
                выполнили более 100 объектов. Вам может показаться, что объектов не так много, но
                мы и не гонимся за их количеством.<br>К каждому проекту у нас индивидуальный подход и
                каждым из них мы можем гордится.<br>Я
                готов ручаться за добросовестное отношение к вашей задаче или вернуть деньги, если
                результат вас не устроит.</p>
        </div>
        <div class="benefits__list">
            <h3 class="benefits__list__header bold">Почему мы:</h3>
            <ul class="benefits__list__items colorBenefits withMarker d-flex--col">
                <li class="benefits__list__item">
                    <input type="radio" name="benefit" id="benefit1" hidden class="benefit__radio">
                    <label for="benefit1" class="benefit__tab">
                        <span class="benefit__title">Отчетность</span>
                    </label>
                    <p class="benefit__hidden">Здравствуйте, я понимаю насколько для вас важен вопрос
                        стоимости. Эта простая форма с несколькими вопросами позволит нам</p>
                </li>
                <li class="benefits__list__item">
                    <input type="radio" name="benefit" id="benefit2" hidden class="benefit__radio">
                    <label for="benefit2" class="benefit__tab">
                        <span class="benefit__title">Поэтапная оплата</span>
                    </label>
                    <p class="benefit__hidden">Здравствуйте, я понимаю насколько для вас важен вопрос
                        стоимости. Эта простая форма с несколькими вопросами позволит нам</p>
                </li>
                <li class="benefits__list__item">
                    <input type="radio" name="benefit" id="benefit3" hidden class="benefit__radio">
                    <label for="benefit3" class="benefit__tab">
                        <span class="benefit__title">Скидки на материалы</span>
                    </label>
                    <p class="benefit__hidden">Здравствуйте, я понимаю насколько для вас важен вопрос
                        стоимости. Эта простая форма с несколькими вопросами позволит нам</p>
                </li>
                <li class="benefits__list__item">
                    <input type="radio" name="benefit" id="benefit4" hidden class="benefit__radio">
                    <label for="benefit4" class="benefit__tab">
                        <span class="benefit__title">Узкие специалисты</span>
                    </label>
                    <p class="benefit__hidden">Здравствуйте, я понимаю насколько для вас важен вопрос
                        стоимости. Эта простая форма с несколькими вопросами позволит нам</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="benefits__video video-container">
        <div id="player"></div>
        <img src="../img/poster.png" alt="Видео" class="video__poster">
    </div>
</div>