<table width="100%" height="100%" cellpadding="0" cellspacing="0" style="background-color: #594d6d6b;">
    <tbody>
        <tr>
            <td align="center" style="padding-top:50px; padding-bottom:50px; padding-left: 50px; padding-right: 50px">
                <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
                    style="border:1px solid #f1f2f5; padding: 50px;max-width: 700px;" class="main-content_mr_css_attr">
                    <tbody>
                        <tr valign='top'>
                            <td style="font-family: 'DM Sans', sans-serif; color:rgba(42, 42, 42, 1);" align="center">
                                <h1 style="font-size: 2.5em; color: rgba(57, 20, 132, 1);"><%= heading %></h1>
                                <%= body %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>