<footer>
    <div class="container footer__container color">
        <div class="footer__logoContainer d-flex--col">
            <a href="/" class="footer__logo">
                <span class="footer__logo__text bold">Milberger</span><br>
                <span class="footer__logo__addText bold">renovation</span>
            </a>
        </div>
        <div class="footer__links d-flex">
            <div class="footer__links__list d-flex--col">
                <h5 class="footer__links__list__heading bold">Проекты</h5>
                <a href="#" class="footer__links__list__link">UI Kits</a>
                <a href="#" class="footer__links__list__link">Wireframe Kits</a>
                <a href="#" class="footer__links__list__link">Icon Sets</a>
                <a href="#" class="footer__links__list__link">Themes & Templates</a>
            </div>
            <div class="footer__links__list d-flex--col">
                <h5 class="footer__links__list__heading bold">Статьи</h5>
                <a href="#" class="footer__links__list__link">Support</a>
                <a href="#" class="footer__links__list__link">Open a Shop</a>
                <a href="#" class="footer__links__list__link">Licensing & Terms</a>
                <a href="#" class="footer__links__list__link">Technology</a>
            </div>
        </div>
        <div class="footer__contacts d-flex--col a-end form__container">
            <div class="footer__contacts__messengers">
                <h5 class="footer__contacts__messengers__heading bold">Мессенджеры</h5>
                <a href="#" class="footer__contacts__messengers__link">
                    <img src="img/icons/send--white.png" alt="Telegram" class="footer__contacts__messengers__icon">
                </a>
                <a href="#" class="footer__contacts__messengers__link">
                    <img src="img/icons/wh--white.png" alt="WatsApp" class="footer__contacts__messengers__icon">
                </a>
            </div>
            <form method="POST" class="footer__contacts__form transparent d-flex j-end a-center"
                id="footer__contacts__form" novalidate>
                    <h5 class="footer__contacts__form__heading bold">Отправьте заявку</h5>
                    <div class="checkout__inputWrap">
                        <input type="tel" name="phone" id="phone" required class="checkout__inputWrap__input phone"
                            placeholder="Ваш телефон" value="" data-mask="+7 (___) ___-__-__"
                            pattern="\+7\s?[\(]?[0-9]{3}[\)]?\s?\d{3}[-]?\d{2}[-]?\d{2}">
                    </div>
                    <div class="checkout__btnWrap btn--accent" title="Отправить">
                        <input type="submit" value="Отправить" title="Отправить" class="btn--checkout">
                    </div>
            </form>
        </div>
        <div class="footer__credentials">
            <p class="footer__credentials__dev">© Разработка и продвижение в <a href="#">SEQUOIA</a></p>
            <p class="footer__credentials__requisite">ИП Милбергер Д.И ИНН 7445552668</p>
        </div>
    </div>
</footer>
</body>

</html>