<div class="layer">
    <div class="popup videoPopup">
        <img src="../img/icons/close.png" alt="" class="popup_close">
        <h2>Видео о проекте <%= title %>
        </h2>
        <div class="video-container">
            <div id="video">
                <div class="loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <img src="<%= img %>" alt="Видео" class="video__poster">
        </div>
    </div>
</div>