<div class="editbtns d-flex">
    <div class="btn_dropdown">
        <button class="btn openDropdownBtn" data-type="selector"><span class="dropdown_result">Абзац</span><i
                class="fa-solid fa-caret-down"></i></button>
        <ul class="btn_dropdown_list">
            <li class="active">
                <button data-type="p">Абзац</button>
            </li>
            <li>
                <button data-type="section">Секция</button>
            </li>
            <li>
                <button data-type="div">Блок</button>
            </li>
            <li>
                <button class="btn_h1" data-type="h1">Заголовок H1</button>
            </li>
            <li>
                <button class="btn_h2" data-type="h2">Заголовок H2</button>
            </li>
            <li>
                <button class="btn_h3" data-type="h3">Заголовок H3</button>
            </li>
        </ul>
    </div>
    <div class="btn_dropdown">
        <button class="btn openDropdownBtn fa-solid fa-table-columns" data-type="columns"
            title="Разделить на колонки"></button>
        <ul class="btn_dropdown_list">
            <li>
                <button data-type="2">
                    <div class="two-col d-flex article-cols">
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </button>
            </li>
            <li>
                <button data-type="3">
                    <div class="two-col d-flex article-cols">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </button>
            </li>
            <li>
                <button data-type="4">
                    <div class="two-col d-flex article-cols">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </button>
            </li>
        </ul>
    </div>
    <button class="btn fas fa-bold" title="Жирный" data-command="bold"></button>
    <button class="btn fas fa-italic" title="Курсив" data-command="italic"></button>
    <button class="btn fas fa-underline" title="Подчёркнутый" data-command="underline"></button>
    <button class="btn fas fa-strikethrough" title="Зачёркнутый" data-command="strikethrough"></button>
    <button class="btn fas fa-superscript" title="Верхний индекс" data-command="superscript"></button>
    <button class="btn fas fa-subscript" title="Нижний индекс" data-command="subscript"></button>
    <button class="btn fas fa-list-ul" title="Маркированный список" data-command="insertUnorderedList"></button>
    <button class="btn fas fa-list-ol" title="Нумерованный список" data-command="insertOrderedList"></button>

    <button class="btn far fa-image" title="Изображение">
        <input type="file" name="img" class="hiddenInput" data-type="image">
    </button>
    <button class="btn fas fa-link" title="Ссылка" data-type="link"></button>
    <button class="btn fas fa-unlink" title="Удаление ссылки" data-command="unlink"></button>
    <button class="btn fas fa-align-left" title="по левому краю" data-command="justifyLeft" data-type="align"></button>
    <button class="btn fas fa-align-center" title="по центру" data-command="justifyCenter" data-type="align"></button>
    <button class="btn fas fa-align-right" title="по правому краю" data-command="justifyRight"
        data-type="align"></button>
    <button class="btn fas fa-align-justify" title="по ширине" data-command="justifyFull" data-type="align"></button>
    <div class="btn_dropdown">
        <button class="btn openDropdownBtn" data-type="fz" title="Размер шрифта">Размер шрифта</span><i
                class="fa-solid fa-caret-down"></i></button>
        <ul class="btn_dropdown_list">
            <li>
                <button data-type="12">12px</button>
            </li>
            <li>
                <button data-type="14">14px</button>
            </li>
            <li>
                <button data-type="16">16px</button>
            </li>
            <li>
                <button data-type="18">18px</button>
            </li>
            <li>
                <button data-type="20">20px</button>
            </li>
            <li>
                <button data-type="22">22px</button>
            </li>
            <li>
                <button data-type="24">24px</button>
            </li>
            <li>
                <button data-type="28">28px</button>
            </li>
            <li>
                <button data-type="34">34px</button>
            </li>
        </ul>
    </div>
    <button class="btn fas fa-font colorPickerBtn" title="цвет текста">
        <input type="color" id="color" value="#000000" list="commons" class="colorPicker" data-type="font"/>
        <datalist id="commons">
            <option>#000000</option>
            <option>#2a2a2a</option>
            <option>#636363</option>
            <option>#ffffff</option>
            <option>#ffdda9</option>
            <option>#391484</option>
            <option>#282f42</option>
            <option>#594d6d</option>

        </datalist>
    </button>
    <button class="btn fas fa-fill-drip colorPickerBtn" title="цвет фона">
        <input type="color" id="back-color" value="#ffffff" class="colorPicker" list="background" data-type="background" />
        <datalist id="background">
            <option>#000000</option>
            <option>#2a2a2a</option>
            <option>#636363</option>
            <option>#ffffff</option>
            <option>#ffdda9</option>
            <option>#391484</option>
            <option>#282f42</option>
            <option>#594d6d</option>
        </datalist>
    </button>
</div>