<article class="admin__content__tab" id="articles">
    <header class="admin__content__header d-flex--col">
        <h2 class="admin__content__header__title bold-color">Управление статьями</h2>
        <button class="admin__content__header__addBtn" data-type="add">
            <i class="fa-solid fa-user-plus"></i>
            Добавить статью
        </button>
    </header>
    <div class="admin__content__sections d-flex">
        <section class="admin__content__section">
            <div class="admin__content__items_list">
                <%= include('../partials/articles_list') %>
            </div>
        </section>
    </div>
</article>